.projects-wrapper-component {
  height: 95vh;
  background: url("../../assets/images/coral-reef-bg-edited.jpg");
  background-attachment: fixed;
}

.projects-list-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
  width: 20%;
  height: 100%;
  background: whitesmoke;
}

@media (max-width: 650px) {
  .projects-list-wrapper {
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
}

.projects-list-item {
  display: flex;
  flex: auto;
  align-items: center;
  border: 1px solid black;
}

.projects-list-item:hover {
  background-color: gainsboro;
}

.project-list-title {
  width: 100%;
}
