/* General Projects Layout */

.projects-wrapper-component {
  background: url("../../assets/images/bokeh-wallpaper.jpg");
  background-size: cover;
  overflow: hidden;
  height: 95vh;
}

#project-render-area {
  height: 100%;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid gray;
  height: 100%;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.projects-container {
  height: 100vh;
}

.underline-projects {
  position: relative;
  border-bottom: 1px solid black;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.project-card a {
  font-size: 2rem;
  letter-spacing: 1px;
  color: black;
}

.project-card h4 {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-card p {
  margin: 0;
}

.project-outline-content {
  position: relative;
  text-align: left;
  background: linear-gradient(to right bottom, rgba(250, 250, 250, 1), rgba(250, 250, 250, .2));
  height: 100%;
}

.project-outline-summary {
  width: 80%;
  margin: auto;
  text-align: left;
}

.project-outline-tools svg {
  margin-right: 3%;
}

@media (max-width: 650px) {
  .project-card>h3 {
    font-size: 1.5rem;
  }
  .project-card h4 {
    font-size: 1rem;
  }
  .project-card p {
    font-size: .8rem;
  }
  .project-outline-content {
    flex-direction: column;
  }
}

/* Projects-Navigation */

.projects-list-wrapper {
  display: flex;
  flex-direction: column;
  float: left;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, .75);
}

@media (max-width: 650px) {
  .projects-list-wrapper {
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
}

.projects-list-item {
  display: flex;
  flex: auto;
  align-items: center;
  border: 1px solid black;
}

.projects-list-item:hover {
  background-color: rgba(2, 84, 255, .35);
}

.project-list-title {
  width: 100%;
}

.flavor {
  text-align: center;
  margin: 50px auto;
}

@media (max-width: 650px) {
  .flavor {
    font-size: .8rem;
  }
}