.bio-component {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 50vh;
  width: 420px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 0 0 20px 10px gray;
  border-radius: 30%;
}

.bio-info-wrapper {
  height: 70%;
  padding-right: 10%;
}

.bio-info-wrapper li {
  text-align: left;
  list-style: none;
  padding: 1%;
  font-size: 1rem;
  margin: 0;
}

li a {
  text-decoration: none;
  color: black;
}

.bio-profile-pic {
  height: 100%;
  width: 40%;
  border-radius: 20%;
}

@media (max-width: 740px) {
  .bio-component {
    justify-content: center;
    width: 210px;
    height: 150px;
    top: 60vh;
  }
  .bio-profile-pic {
    margin-right: 50px;
  }
  .bio-info-wrapper {
    padding: 0 0 0 3%;
  }
  .bio-info-wrapper li {
    margin-left: 22px;
    list-style: none;
    font-size: .75rem;
  }
}