/* Project Outline */

#news-from summary {
  display: inline-block;
}

.news-from-project-outline {
  background: linear-gradient(to right bottom, rgba(150, 150, 250, .3) 50%, rgba(200, 200, 200, .5) 50%);
  border-bottom: 1px solid black;
}

.news-from-component{
  background: white;
}

/* Project Card */


#news-from {
  position: relative;
  background-image: url("../../../assets/images/news-from-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 1%;
}


.news-from-logo {
  margin-left: 5%;
  width: 70px;
  animation: "news-logo-spin" infinite 3s;
  float: left;
}

@keyframes news-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.news-from-card {
  background: url("/assets/images/news-from.jpg");
  background-position: center;
  background-size: cover;
}

.news-from-summary {

}

.text-align-center {
  align-items: center
}