#imagedits {
  background: url('/assets/images/imagEdits_ss.png');
  background-size: auto 120%;
  background-position: center;
  border-bottom: solid 1px black;
  padding: 0.01%;
}

.imagedits-banner {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 2000px;
  align-items: center;
  background-color: royalblue;
  transform: rotate(340deg) translate(-100px, -50px);
  font-family: 'Pacifico', cursive;
  height: 6rem;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  outline: 5px solid royalblue;
}

.imagedits-banner h3 { 
  transform: translateX(-500px);
  color: white;
  text-decoration: underline;
  letter-spacing: 15px;
  font-size: 50px;
}

@media (max-width: 650px) {
  .imagedits-banner h3 {
    transform: translateX(-675px);
  }
  .imagedits-banner {
    transform: rotate(340deg) translate(-120px, -200px);
  }
}