body {
    font-family: 'Poppins', sans-serif;
    background: rgba(242, 242, 242, .6);
    margin: 0;
}

* {
    box-sizing: border-box
}

.row {
}


/*JUMBOTRON*/

.jumbotron {
    position: relative;
    display: block;
    height: 100vh;
    margin-bottom: 0;
    background: linear-gradient(gainsboro, whitesmoke);
}

#scroll-down {
    position: relative;
    top: 50px;
    width: 34px;
    height: 60px;
    border: 1px solid black;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 27px;
}

.scroll-animation {
    background-color: black;
    border-radius: 100%;
    position: inherit;
    margin: 0 auto;
    left: 0;
    right: 0;
    align-items: center;
    height: 10px;
    width: 5px;
    -webkit-animation: moveball 2.5s infinite;
    animation: moveball 2.5s infinite;
}

@-webkit-keyframes moveball {
    0% {
        top: 2px;
        background-color: red;
        opacity: 0;
    }

    50% {
        background-color: red;
        opacity: .75;
    }

    100% {
        top: 48px;
        opacity: 0;
    }
}

@keyframes moveball {
    0% {
        top: 2px;
        background-color: red;
        opacity: 0;
    }

    50% {
        background-color: red;
        opacity: .75;
    }

    100% {
        top: 48px;
        opacity: 0;
    }
}

@media (max-width: 650px) {
    .navbar a {
        font-size: .75rem;
    }
}

.jumbotron-text {
    z-index: 1;
    font-family: "Krona One", sans-serif;
    font-size: 2em;
    text-align: center;
    padding-top: 120px;
    height: 100%
}

@media (max-width: 1400px) {
    .jumbotron-text {
        padding-top: 90px;
    }
}

@media (max-width: 700px) {
    .jumbotron-text {
        font-size: 1rem;
        padding-top: 200px;
    }
    #scroll-down {
        height: 40px;
        width: 20px;
    }
    .scroll-animation {
        height: 5px;
    }
    @-webkit-keyframes moveball {
        0% {
            top: 2px;
            background-color: red;
            opacity: 0;
        }

        50% {
            background-color: red;
            opacity: .75;
        }

        100% {
            top: 33px;
            opacity: 0;
        }
    }
    @keyframes moveball {
        0% {
            top: 2px;
            background-color: red;
            opacity: 0;
        }

        50% {
            background-color: red;
            opacity: .75;
        }

        100% {
            top: 33px;
            opacity: 0;
        }
    }
}

.jumbotron-text h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
}

.jumbotron-text p {
    margin: 0;
}


/*SOCIAL LINKS*/

.ul-social {
    padding: 0;
}

.li-social-links {
    display: inline-block;
    list-style: none;
    font-size: 1rem;
}

.social {
    font-size: 2em;
    color: black;
    padding: 20px;
}


/*PROJECTS*/

.projects-header {
    padding: 10px;
    margin-left: 10vw;
    margin-bottom: 2vh
}

.projects-header * {
    text-align: left;
    color: black;
}

.underline-projects {
    position: relative;
    width: 250px;
    border-bottom: 1px solid red;
    margin-bottom: 30px;
    border-radius: 50%
}

.fadeinleft {
 margin-left:-400px; 
 max-width:100%;
}

.project-card {
    position: relative;
    display: flex;
    height: 350px;
    flex: 0 1 auto;
    margin-bottom: 30vh;

    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.project-card:hover {
}

.project-card a {
    position: relative;
    display: flex;
    text-decoration: none;
    height: 20%;
    background-color: rgba(0, 0, 0, .75);
    margin: 30px;
    padding: 0 20px;
}


#card-one {
    position: relative;
    background-size: 10%;
    height: 400px;
    background-image: url(/static/media/crystal-bg.4bd0f117.jpg);
    box-shadow: 0 0 7px 7px pink, 0 0 10px 10px pink inset;
}

#card-one .project-title {
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    letter-spacing: 5px;
    color: white;
    padding: 0 20px;
}

#card-one p {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 75%;    
    padding: 25px;
    margin: 0 auto;
    text-align: left;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(0, 0, 0, .75);
}

.first-word {
    position: relative;
    font-size: 1.5rem;
    padding-right: 10px;
    letter-spacing: 2px;
    font-family: 'Abril Fatface', cursive;
}

#card-two {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
    padding: 30px;
    background: black;
    background-size: 400%;
}

@media (max-width: 1128px) {
    #card-two {
        flex-direction: column;
        align-items: center;
        }
}


#card-two a {
    flex-direction: column;
}

#card-two .project-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
}

.liri-flavor {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: green;
    font-weight: 100;
}

#card-two p {
    top: 0;
    right: 15%;
    padding: 0 25px;
    margin: 0 50px;
    text-align: left;
    font-size: .55rem;
    color: green;
    font-weight: 700;
}


#card-three {
    overflow: hidden;
    background: url("../assets/images/philo-bg-1.png");
}

#card-four {
    background-image: url("../assets/images/clicky_zoom.png");
    background-size: 30%;
}



.project-content {
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.project-content a {
    margin: auto;
}

.project-content p,
h3 {
    color: white;
}

.project-content .btn-philosophy {
    height: 66px;
}


/*CONTENT*/

.container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .li-social-links {
        font-size: .75rem;
    }
}

.main-content {
    background: linear-gradient(whitesmoke, whitesmoke);
}

.news-from-header {
    font-family: "Rammetto One", sans-serif;
    font-size: 30px;
    color: white;
}

.news-from-card {
    background: url("/assets/images/news-from.jpg");
    background-position: center;
    background-size: cover;
}

.news-from-card div p {
    color: white;
}

.sass-card {
    background: black;
}

h2 {
    font-weight: 200;
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
}

/*End Page */

#page-footer {
    height: 50px;
    width: 100%;
}

#page-footer p {
    margin: auto;
    font-size: 1rem;
    color: black;
}

.row-footer {
    margin-top: 25px;
}

.footer-links {
    margin: 0 1.5rem;
    font-size: 3rem;
    color: black;
}

.copywrite {
    padding-bottom: 2rem;
}


/*CUSTOM*/

.divider {
    position: relative;
    display: flex;
    height: 20px;
    background-color: black;
}

.cyan {
    color: cyan;
}