body {
  font-family: 'Poppins', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

* {
  box-sizing: border-box
}

.row {
  z-index: 1;
  background-color: white;
}

nav {
  display: flex;
  z-index: 5;
  position: fixed;
  flex-direction: column;
  width: 5%;
  right: 0;
  height: 50%;
  border-left: 1px solid black;
  overflow: hidden;
  transition: 1.5s cubic-bezier(.01, 0, .47, .99);
}

.nav-overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: inherit;
  background: rgba(255, 255, 255, .2);
  background-size: 200%;
}

.nav-control {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 20px;
  bottom: -9px;
  background: black;
  cursor: pointer;
}










/*
.nav-grain {
    position: fixed;
    z-index: -2;
    opacity: .2;
    height: inherit;
    width: inherit;
    background: url('/assets/images/grainy.jpg');
    background-size: 100%;
    animation: navgrain 10s infinite ease-in-out;
}*/


/*@keyframes navgrain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-40%, -40%);
    }
    50% {
        transform: translate(0%, 40%);
    }
    75% {
        transform: translate(40%, 0%);
    }
}
*/


/*JUMBOTRON*/

.jumbotron {
  position: relative;
  display: block;
  height: 100vh;
  margin-bottom: 0;
  background: white;
  overflow: hidden;
}

.jumbo-overlay {
  position: absolute;
  opacity: .2;
  width: 100%;
  height: inherit;
  background: url('/assets/images/test-grain.jpg');
  background-size: 100%;
}

.jumbo-grain {
  position: fixed;
  opacity: .2;
  top: -650%;
  left: -650%;
  width: 1500%;
  height: 1500%;
  background: url('/assets/images/grainy.jpg');
  background-size: 100%;
  animation: grainAnimation 60s infinite ease-in-out;
}

@keyframes grainAnimation {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-40%, -40%);
  }
  50% {
    transform: translate(0%, 40%);
  }
  75% {
    transform: translate(40%, 0%);
  }
}

#scroll-down {
  position: relative;
  opacity: 0;
  top: 30px;
  width: 34px;
  height: 60px;
  border: 1px solid black;
  background-color: transparent;
  margin: 0 auto;
  border-radius: 27px;
  /*animation: scrollKinda 15s infinite ease-in-out;*/
}

@keyframes scrollKinda {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 30%);
  }
  50% {
    transform: translate(-30%, 0);
  }
  75% {
    transform: translate(30%, 30%);
  }
}


.scroll-animation {
  background-color: black;
  border-radius: 100%;
  position: inherit;
  margin: 0 auto;
  left: 0;
  right: 0;
  align-items: center;
  height: 10px;
  width: 5px;
  -webkit-animation: moveball 2.5s infinite;
  animation: moveball 2.5s infinite;
}

@-webkit-keyframes moveball {
  0% {
    top: 2px;
    background-color: red;
    opacity: 0;
  }

  50% {
    background-color: red;
    opacity: .75;
  }

  100% {
    top: 48px;
    opacity: 0;
  }
}

@keyframes moveball {
  0% {
    top: 2px;
    background-color: red;
    opacity: 0;
  }

  50% {
    background-color: red;
    opacity: .75;
  }

  100% {
    top: 48px;
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .navbar a {
    font-size: .75rem;
  }
  .navbar {
    height: 35%;
  }
}

.jumbotron-text {
  display: inline-flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "Krona One", sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: 120px;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.jumbo-flavor-left {
  width: 20%;
  font-size: 5rem;
  z-index: 5;
}

.jumbo-flavor-right {
  width: 20%;
  font-size: 5rem;
  z-index: 5;
}

@media (max-width: 1400px) {
  .jumbotron-text {
    padding-top: 90px;
  }
}

@media (max-width: 700px) {
  .jumbotron-text {
    font-size: 1rem;
    padding-top: 200px;
  }
  #scroll-down {
    height: 40px;
    width: 20px;
  }
  .scroll-animation {
    height: 5px;
  }
  @-webkit-keyframes moveball {
    0% {
      top: 2px;
      background-color: red;
      opacity: 0;
    }

    50% {
      background-color: red;
      opacity: .75;
    }

    100% {
      top: 33px;
      opacity: 0;
    }
  }
  @keyframes moveball {
    0% {
      top: 2px;
      background-color: red;
      opacity: 0;
    }

    50% {
      background-color: red;
      opacity: .75;
    }

    100% {
      top: 33px;
      opacity: 0;
    }
  }
}

.jumbotron-text h1 {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}











/*SOCIAL LINKS*/

.ul-social {
  padding: 0;
}

.li-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1rem;
}

.social {
  font-size: 2em;
  color: black;
  padding: 5px;
}















/*PROJECTS*/

.projects-header {
  padding: 10px;
  margin-left: 10vw;
  margin-bottom: 2vh
}

.projects-header * {
  text-align: left;
  color: black;
}

.underline-projects {
  position: relative;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.project-outline {
  color: black;
  position: relative;
  display: flex;
  width: inherit;
  padding: 20px 50px 20px 150px;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
  background-image: url('../assets/images/graywhitethread.png');
  background-size: cover;
  border-top: 1px solid gray;
}

.project-outline h3 {
  position: relative;
  display: inline-block;
  margin: auto;
  font-size: 2rem;
  letter-spacing: 1px;
  color: black;
}

.project-outline h4 {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.project-outline p {
  margin: auto;
}

.project-outline-content {
  position: relative;
  display: inline;
  text-align: left;
  width: 50%;
  min-width: 300px;
}

.project-outline-tools {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-end;
}

.project-outline-tools * {
  font-size: 3rem;
  margin-left: 40px;
  margin-top: 40px;
  height: 40px;
  width: 40px;
}

.project-card {
  position: relative;
  display: flex;
  height: 350px;
  flex: 0 1 auto;
  padding: 0 20px;
  border-bottom: 1px solid gray;

  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}


#news-from {
  display: block;
  position: relative;
  min-height: 400px;
  height: 100%;
  background-image: url("../assets/images/news-from-image.png");
  background-size: contain;
}

.opacity-overlay {
  position: absolute;
  height: inherit;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(225, 225, 225, .1);
}


#news-from h3 {
  margin: auto;
  font-size: 3rem;
  font-family: 'Fugaz One', cursive
}

#news-from p,
#news-from a {
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  color: black;
  background:rgba(225, 225, 225, .9);
  border: 1px solid black;
  font-size: 2rem;
}

#news-from a {
  display: inline-block;
  text-decoration: none;
  color: black;
  min-width: 435px;
  border: 1px solid black;
  margin: 20px;
}

#news-from p {
  margin: 40px;
  max-width: 65vw;
  font-size: 2.2rem;
  font-family: 'Heebo', serif;
  font-weight: bolder;
}

@media (max-width: 1128px) {
  #news-from p {
    margin: 0 0 20px 0;
  }
}

.news-from-logo {
  width: 50px;
  height: 50px;
}


#card-one a {
  position: absolute;
  display: flex;
  text-decoration: none;
  height: 20%;
  background-color: rgba(0, 0, 0, .8);
  margin: 50px 0 0 100px;
}


#card-one {
  position: relative;
  background-size: 115px;
  height: 400px;
  background-image: url("../assets/images/red-bg-light.jpg");
  overflow: hidden;
}


#card-one .project-title {
  display: flex;
  position: relative;
  align-items: center;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  color: white;
  padding: 0 20px;
}

#card-one p {
  position: absolute;
  top: 40%;
  right: 20%;
  width: 50%;
  padding: 25px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.25rem;
  color: white;
  background-color: rgba(0, 0, 0, .8);
}

@media (max-width: 1128px) {
  #card-one {
    justify-content: center;
  }

  #card-one a {
    margin: 30px 0 0 0;
  }


  #card-one p {
    right: initial;
  }
  .project-outline-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .project-outline-tools {
    justify-content: initial;
  }
}


.first-word {
  position: relative;
  font-size: 1.5rem;
  padding-right: 10px;
  letter-spacing: 2px;
  font-family: 'Abril Fatface', cursive;
}

.crystal-ruby {
  position: absolute;
  height: 50%;
  left: 10%;
  opacity: .3;
  transform: rotate(-30deg);
  overflow: hidden;
  animation: falling 12s infinite linear;
}

.crystal-diamond {
  position: absolute;
  height: 50%;
  left: 20%;
  opacity: .6;
  transform: rotate(45deg);
  overflow: hidden;
  animation: falling 6s infinite linear;
}

.crystal-sapphire {
  position: absolute;
  height: 50%;
  left: 50%;
  opacity: .5;
  transform: rotate(-20deg);
  overflow: hidden;
  animation: falling 5s infinite linear;
}

.crystal-emerald {
  position: absolute;
  height: 30%;
  left: 75%;
  opacity: .4;
  transform: rotate(25deg);
  overflow: hidden;
  animation: falling 7s infinite linear;
}


@keyframes falling {
  0% {
    top: -160px;
  }
  100% {
    top: 1000px;
  }
}

#card-two {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  padding: 30px;
  background: black;
  background-size: 400%;
}

@media (max-width: 1128px) {
  #card-two {
    flex-direction: column;
    align-items: center;
  }
}


#card-two a {
  flex-direction: column;
  text-decoration: none;
  height: fit-content;
}

#card-two .project-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  color: yellow;
}

.liri-flavor {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  color: green;
  font-weight: 100;
  animation: blink cubic-bezier(1.0, 0, 0, 1.0) 1000ms infinite;
}

@keyframes blink {
  from {
    color: green;
  }
  to {
    color: black;
  }
}

#card-two p {
  top: 0;
  right: 15%;
  padding: 0 25px;
  margin: 0 50px;
  text-align: left;
  font-size: .55rem;
  color: green;
  font-weight: 700;
}

#card-two ul {
  list-style-type: none;
  top: 0;
  right: 15%;
  padding: 0 25px;
  margin: 0 50px;
  text-align: left;
  font-size: .55rem;
  color: green;
  font-weight: 700;
}

#card-three {
  overflow: hidden;
  background-image: url("../assets/images/philo-bg-1.png");
  padding: 0 100px;
}

@media (max-width: 690px) {
  #card-three {
    flex-direction: column;
  }

  .quote-wrapper {
    margin: auto;
  }
  .pic-wrapper-area img {
    display: none;
  }
}

#card-three a {
  z-index: 2;
  text-decoration: none;
  height: fit-content;
}

#card-three h4 {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2rem;
}

.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  height: 100px;
  min-width: 200px;
}










/*.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 0;
    height: 0;
    border: 65px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -32.5px;
    margin-bottom: -65px;
}
*/

.pic-wrapper-area {
  display: flex;
  align-items: flex-end;
  /*    animation: philoSlide 3s infinite;
    animation-timing-function: cubic-bezier(.1, .1, .1, 1);
*/
}

.pic-wrapper-area img {
  position: absolute;
  height: 150px;
  width: 150px;
}

.quote-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  min-width: 200px;
  padding: 10px;
}

.phil-quotes {
  background: white;
  font-family: Special Elite, cursive;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 10px white;
  padding: 20px;
}











/*@keyframes philoSlide {
    0% {
        left: 1000px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    70% {
        opacity: 1;
        left: 0px;
    }
    100% {
        opacity: 0;
        left: 0px;
    }
}
*/

#card-four {
  background: url('/assets/images/streetfighter-bg.jpg');
  background-size: 75% 105%;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 0 20px;
  height: 100%;
}

@media (max-width: 1128px) {
  #card-four {
    flex-direction: column;
  }
}

#card-four h4 {
  margin: auto;
  font-size: 3rem;
  font-family: "Shojumaru", cursive;
  color: orangered;
}

#card-four a {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  background: rgba(140, 0, 200, .5);
  border: 1px solid black;
  min-width: 330px;
  padding-top: 10px;
  margin: auto;
  width: 30%;
  height: 30%;
}

.fighters-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 30%;
  margin: auto;
  border: 3px solid black;
  min-width: 330px;
  height: 100%;
  overflow: hidden;
  min-height: 330px;
  min-width: 330px;
}

.fighters-bg-overlay {
  position: absolute;
  display: inline;
  height: 100%;
  width: 100%;
  opacity: .7;
  background: white;
  z-index: 0;
}

.fighter-row {
  display: flex;
  flex: auto;
  height: 50%;
  width: 100%;
}

.fighter-wrapper {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 100%;
  margin: 1px;
  z-index: 1;
  background: rgba(225, 225, 225, 0.5);
  border: 1px solid grey;
  transition: 2s cubic-bezier(.07, .85, .66, .9);
}


.fighter-wrapper:hover {
  display: flex;
  width: 700px;
  box-shadow: 0 0 3px 20px white inset;
  background: url("/assets/images/blue-texture.jpg");
  background-size: 5000%;
  background-position: center;
}

.fighter {
  justify-content: space-between;
  width: 75px;
  height: 75px;
  transition: 0.5s;
  opacity: .8;
}

.fighter:hover {
  transform: scale(2, 2);
  opacity: 1;
}

.bounce-wrapper-ryu {
  animation: "bounceryu" 3s infinite;
}

.bounce-wrapper:hover {
  animation: initial;
  transform: translate(0, 0);
  transition: .5s;
}

@keyframes bounceryu {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -45%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  25% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(0, -33%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  40% {
    transform: translate(0, 0);
  }
  48% {
    transform: translate(0, -20%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  53% {
    transform: translate(0, 0%);
  }
  58% {
    transform: translate(0, -10%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  63% {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, -3%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  66% {
    transform: translate(0, 0);
  }
}


.bounce-wrapper-heih {
  animation: "bounceheih" 4s infinite;
}

@keyframes bounceheih {
  0%,
  100% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-40%, -45%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  16% {
    transform: translate(-40%, -40%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }

  17% {
    transform: translate(-40%, -0%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  18% {
    transform: translate(-45%, -0%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  20% {
    transform: translate(-35%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  21% {
    transform: translate(-35%, -0%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  22% {
    transform: translate(-45%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  23% {
    transform: translate(-40%, -0%);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
}


.bounce-wrapper-zang {
  animation: "bouncezang" 1.5s infinite;
}


@keyframes bouncezang {
  0%,
  100% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(-40%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  6% {
    transform: translate(-35%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  12% {
    transform: translate(-33%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
  13% {
    transform: translate(-55%, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
}


.bounce-wrapper-serv {
  animation: "bounceserve" .5s infinite;
}


@keyframes bounceserve {
  0% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, -20%);
  }
  100% {
    transform: translate(0, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
}


.bounce-wrapper-chun {
  animation: "bouncechun" .75s infinite;
}


@keyframes bouncechun {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: rotate(-20deg) translate(20px, 0);
  }
  20% {
    transform: translate(0, 0);
    -webkit-animation: ease-in;
    -o-animation: ease-in;
    animation: ease-in;
  }
}

.bounce-wrapper-morg {
  animation: "bouncemorg" 3s infinite;
}


@keyframes bouncemorg {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  80% {
    transform: scaleX(-1);
  }
}

#card-imagedits {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url('/assets/images/imagEdits_ss.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  border-bottom: solid 1px black;
}

.imagEdits-wrapper {
  background-color: white;
  height: 400px;
}

#card-imagedits a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  transform: rotate(340deg) translate(-305px, -100px);
  font-family: 'Pacifico', cursive;
  height: 6rem;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  outline: 5px solid royalblue;
}

@media (max-width: 1128px) {
  #card-imagedits a {
    transform: rotate(340deg) translate(-150px, -100px);
  }
}

@media (max-width: 750px) {
  #card-imagedits a {
    transform: rotate(340deg) translate(-75px, -100px);
  }
}


@media (max-width: 600px) {
  #card-imagedits a {
    transform: rotate(340deg) translate(50px, -100px);
  }
}

#card-imagedits h3 {
  color: white;
  text-decoration: underline;
  letter-spacing: 15px;
  font-size: 50px;
  width: 2000px;
}










/*CONTENT*/

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 768px) {
  .li-social-links {
    font-size: .75rem;
  }
}

.main-content {}

.background-partition {
  position: relative;
  opacity: .4;
  height: 10vh;
  width: 100%;
  background: url('/assets/images/test-grain.jpg');
  background-size: 1000%;
  z-index: -1;
  overflow: hidden;
}

.background-partition-overlay {
  opacity: .4;
  position: absolute;
  width: 2000%;
  height: 10vh;
  background: url('/assets/images/grainy.jpg');
  background-size: 50%;
  animation: partitionAnimation 90s infinite;
  z-index: -2;
  background-repeat: repeat;
}


@keyframes partitionAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-80%, 0);
  }
}

.news-from-header {
  font-family: "Rammetto One", sans-serif;
  font-size: 30px;
  color: white;
}

.news-from-card {
  background: url("/assets/images/news-from.jpg");
  background-position: center;
  background-size: cover;
}

.news-from-card div p {
  color: white;
}

.sass-card {
  background: black;
}

h2 {
  font-weight: 200;
  font-family: "Krona One", sans-serif;
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}















/*End Page */

#page-footer {
  width: 100%;
  background: black;
  background-size: cover;
}

#page-footer p {
  margin: auto;
  font-size: 1rem;
  color: white;
}

.footer-links-wrapper {
  padding-top: 20px;
}

.footer-link {
  margin: 0 1.5rem;
  font-size: 3rem;
  color: whitesmoke;
}

.copywrite {
  padding-bottom: 20px;
}















/*CUSTOM*/

.divider {
  position: relative;
  display: flex;
  height: 20px;
  background-color: black;
}

.chunli {
  transform: scale(.85, 1);
}

.chunli:hover {
  transform: scale(1.75, 2);
}

.zangief {
  transform: scale(1.6, 1.5) translate(-5px, -5px);
}

.zangief:hover {
  transform: scale(2.2, 2.25);
}

.morrigan {
  transform: scale(.6, 1) translate(-5px, -3px);
}

.morrigan:hover {
  transform: scale(1, 1.75);
}

.servbot:hover {
  transform: scale(2, 2) translate(0, -20px);
}

.cyan {
  color: cyan;
}

#my-name {
  z-index: 5;
}