.footer-component {
  display: flex;
  padding: 0 0 0 20px;
  justify-content: flex-start;
  height: 5vh;
  background-color: black;
  align-items: center;
}

.footer-component > * {
  color: white;
  margin: 0 20px;
}
