#philosophy-trivia {
  overflow: hidden;
  background-image: url("../../../assets/images/philo-bg-1.png");
  padding: 0.01%;
}

#philosophy-trivia a {
  z-index: 2;
  height: fit-content;
}

.phil-title {
  display: flex;
  position: relative;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background: #00aabb;
  color: white;
  font-size: 2rem;
  border-radius: .4em;
  font-family: 'Berkshire Swash', cursive;
  height: 100px;
  min-width: 200px;
}

.pic-wrapper-area {
  display: flex;
  align-items: flex-end;
}

.pic-wrapper-area img {
  position: absolute;
  height: 150px;
  width: 150px;
}

.quote-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  min-width: 200px;
  padding: 10px;
}

.phil-quotes {
  background: white;
  font-family: Special Elite, cursive;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 10px white;
  padding: 20px;
}

@media (max-width: 650px) {
  #philosophy-trivia {
    flex-direction: column;
  }
  .quote-wrapper {
    margin: auto;
  }
  .pic-wrapper-area img {
    display: none;
  }
}

@media (max-width: 650px) {
  #philosophy-trivia-flavor {
    margin: 0;
  }
}