body {
  font-family: 'Poppins', sans-serif;
  background: rgba(242, 242, 242, .6);
  margin: 0;
}

* {
  box-sizing: border-box
}

ul {
  list-style: none;
  padding: 0;
}

/*SOCIAL LINKS*/

.ul-social {
  padding: 0;
}

.social {
  font-size: 2em;
  color: black;
  padding: 5px;
}

/* General Custom */

.cyan {
  color: cyan;
}

.fa-link {
  color: gray;
  margin-left: 2%;
}

.no-icon>p {
  font-size: 20px;
}

.under_construction {
  position: relative;
  margin-right: 3%;
  width: 100px;
}

.text-decoration-none {
  text-decoration: none;
}