.jumbotron-component {
  position: relative;
  display: block;
  height: 100vh;
  margin-bottom: 0;
  background: white;
  overflow: hidden;
  font-family: "Ubuntu Mono", sans-serif;
  background: url('/assets/images/background-bg-landing.jpg');
  background-size: cover;
  background-position: center;
}

.transparent-overlay {
  background: rgba(200, 200, 200, .5);
  position: absolute;
  height: 100vh;
  width: 100%;
}

/* Landing Page Intro */

.landing-intro {
  display: inline-block;
  margin-top: 40px;
  padding: 1%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10%;
  color: white;
  width: 70%;
  min-width: 350px;
}

.landing-intro h1 {
  font-size: 3rem;
}

.landing-intro h3 {
  margin-top: 50px;
  font-size: 1.15rem;
}

@media (max-width: 650px) {
  .landing-intro .responsive-disappear {
    display: none;
  }
}

.occupation-list {
  padding: 0;
}

.occupation-list-items {
  display: inline-block;
  margin: 0 0 15px 30px;
  list-style: none;
}

/* Scroll Down Button */

@keyframes downbounce {
  0% {}
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scroll-down-button {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 10%;
  position: absolute;
  color: white;
  font-size: 4rem;
  animation: "downbounce" infinite 3s ease-in-out;
  cursor: pointer;
}

